<md-toolbar>
  <button md-icon-button td-menu-button tdLayoutManageListToggle>
    <md-icon>menu</md-icon>
  </button>
  <span>Job History</span>
  <span flex></span>
  <button md-icon-button><md-icon class="md-24">view_module</md-icon></button>
  <button md-icon-button><md-icon class="md-24">sort</md-icon></button>
  <button md-icon-button><md-icon class="md-24">settings</md-icon></button>
  <button md-icon-button><md-icon class="md-24">more_vert</md-icon></button>
</md-toolbar>

<md-card class="push-botton-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true" ></td-search-box>
  <md-divider></md-divider>
  <ng-template tdLoading="job.history">
    <md-list class="will-load">
      <div class="md-padding" *ngIf="filteredJobs?.length === 0" layout="row" layout-align="center center">
      <!-- <div class="md-padding" *ngIf=true layout="row" layout-align="center center"> -->
        <h3>No history to display.</h3>
      </div>
      <ng-template let-job let-last="last" ngFor [ngForOf]="filteredJobs">
        <md-list-item layout-align="row" [routerLink]="['../detail', job.job_uuid]">
          <md-icon md-list-avatar>person</md-icon>
          <h3 md-line> {{ job.config_name }}</h3>
          <span flex=20></span>
          <span hide-xs hide-sm hide-md flex-gt-xs="90" flex-xs="40" layout-gt-xs="row">
            <div class="md-caption tc-grey-500" flex-gt-xs="50"> {{ job.created_at }} </div>
            <div class="md-caption tc-grey-500" flex-gt-xs="20"> {{ job.status}} </div>
            <div class="md-caption tc-grey-500" flex-gt-xs="30"> TODO: cost </div>
          </span>
          <span>
            <button md-icon-button [md-menu-trigger-for]="menu" (click)="$event.stopPropagation()">
              <md-icon>more_vert</md-icon>
            </button>
            <md-menu x-position="before" #menu="mdMenu">
              <a md-menu-item (click)="deletClicked($event, job.job_uuid)">
                <md-icon>delete</md-icon> Delete
              </a>
            </md-menu>
          </span>
        </md-list-item>
        <md-divider *ngIf="!last" md-inset></md-divider>
      </ng-template>
    </md-list>
  </ng-template>
</md-card>