body {
    padding: 2rem;
    padding-top: 6rem;
    
  }
  .m-a-5{margin: 5px;}
  .m-r-05{margin-right: 5px;}
  .m-l-05{margin-left: 5px;}
  .m-t-05{margin-top: 5px;}
  .m-b-05{margin-bottom: 5px;}
  
  .p-a-05{padding: 5px;}
  .p-r-05{padding-right: 5px;}
  .p-l-05{padding-left: 5px;}
  .p-t-05{padding-top: 5px;}
  .p-b-05{padding-bottom: 5px;}
  
  #searchForm .form-group{margin-bottom: 0;}
  #searchForm .form-control{border:0; height:38px;}
  
  
  
  .loader {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #03a9f4;
    border-radius: 50%;
  }
  .loader:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0px solid white;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: loading 1000ms ease-out forwards infinite;
            animation: loading 1000ms ease-out forwards infinite;
  }
  
  @-webkit-keyframes loading {
    0% {
      border: 0px solid white;
    }
    20% {
      border: 8px solid white;
      width: 0%;
      height: 0%;
    }
    100% {
      border: 8px solid white;
      width: 100%;
      height: 100%;
    }
  }
  
  @keyframes loading {
    0% {
      border: 0px solid white;
    }
    20% {
      border: 8px solid white;
      width: 0%;
      height: 0%;
    }
    100% {
      border: 8px solid white;
      width: 100%;
      height: 100%;
    }
  }
  