<!-- Table -->

<table>
  <thead>
    <tr>
      <td style="width: 200px;" i18n="name|name@@name">
        Name
      </td>
      <td style="width: 100px;" i18n="job-type|job-type@@job-type">
        type
      </td>
      <td style="width: 30%;" i18n="job-type|job-type@@job-type">
        Url
      </td>
      <td style="width: 200px;" i18n="job-type|job-type@@job-type">
        Last Run Time
      </td>
      <td style="width: 150px;" i18n="job-type|job-type@@job-type">
        Action
      </td>

    </tr>
  </thead>
</table>