<mat-toolbar>
  <button mat-icon-button td-menu-button tdLayoutManageListToggle>
    <mat-icon>menu</mat-icon>
  </button>
  Job Config
</mat-toolbar>

<ng-template tdLoading="job.list">
  <table td-data-table>
    <thead>
      <tr td-data-table-column-row>
        <th td-data-table-column
          *ngFor="let column of columns"
          [numeric]="column.numeric">
          {{column.label}}
        </th>
        <th td-data-table-column>
          <span>actions</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr td-data-table-row *ngFor="let row of tableData">
        <td td-data-table-cell *ngFor="let column of columns" [numeric]="column.numeric">
          <span *ngIf="column.name == 'config_name'">
            <a [routerLink]="['/job/config/detail', row.config_name]">
              {{column.format ? column.format(row[column.name]) : row[column.name]}}
            </a>
          </span>
          <span *ngIf="column.name != 'config_name'">
            {{column.format ? column.format(row[column.name]) : row[column.name]}}
          </span>
        </td>
        <td td-data-table-cell>
          <button (click)="startClicked(row)">start</button>
          <button (click)="updateClicked(row)">update</button>
          <button (click)="deleteClicked(row)">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
<a mat-fab color="accent" class="mat-fab-bottom-right fixed" routerLink="../create">
  <mat-icon>add</mat-icon>
</a>
