<!-- Table -->

<table>
  <thead>
    <tr>
      <td style="width: 200px;" i18n="name|name@@name">
        Name
      </td>
      <td style="width: 100px;" i18n="job-type|job-type@@job-type">
        Type
      </td>
      <td style="width: 30%;" i18n="job-type|job-type@@job-type">
        Url
      </td>
      <td style="width: 200px;" i18n="job-type|job-type@@job-type">
        Last Run Time
      </td>
      <td style="width: 150px;" i18n="job-type|job-type@@job-type">
        Action
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jobConfig of asyncJobConfigs | async | paginate: { id: 'server', itemsPerPage: 5, currentPage: p, totalItems: total }">
      <td>
        <a [routerLink]="['/job/config/detail', jobConfig.config_name]">
          {{ jobConfig.config_name }}
        </a>
      </td>
      <td>
        TODO: job type
      </td>
      <td>
        TODO: job url 
      </td>
      <td>
        {{ jobConfig.last_job}}
      </td>
      <td>
        <button (click)="startClicked()">
          start
        </button>
        <button>
          update
        </button>
        <!-- <p-growl [value]="msgs"></p-growl> -->
        <!-- <p-confirmDialog></p-confirmDialog> -->
        <button md-raised-button (click)="deleteClicked(jobConfig)" label="Delete">
          delete
        </button>
      </td>
    </tr>
  </tbody>
</table>


<div class="has-text-centered">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>