<div class="dashboard-grid large-12 columns">
  <mat-card class="push-botton-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <!-- <td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true" ></td-search-box> -->
  <mat-divider></mat-divider>
  <ng-template tdLoading="books.list">
    <mat-list class="will-load">
      <div class="mat-padding" *ngIf="tableData?.length === 0" layout="row" layout-align="center center">
        <!-- <div class="mat-padding" *ngIf=true layout="row" layout-align="center center"> -->
        <h3>No Books to Display.</h3>
      </div>
      <ng-template let-column let-last="last" ngFor [ngForOf]="tableData">
        <mat-list-item layout-align="row" [routerLink]="['/bookstore/book/', column.uuid]">
          <mat-icon mat-list-avatar>book</mat-icon>
          <h3 mat-line> {{ column.name }} </h3>
          <span hide-xs hide-sm hide-md flex-gt-xs="90" flex-xs="80" layout-gt-xs="row">
            <div class="mat-caption tc-grey-500" flex-gt-xs="70"> {{ column.created_at }} </div>
            <div class="mat-caption tc-grey-500" flex-gt-xs="30"> {{ column.public }}</div>
          </span>
          <span>
            <button mat-icon-button [mat-menu-trigger-for]="menu" (click)="$event.stopPropagation()">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu x-position="before" #menu="matMenu">
              <a mat-menu-item (click)="publicClicked($event, column)">
                <mat-icon>lock_open</mat-icon> Make it Public
              </a>
              <a mat-menu-item (click)="privateClicked($event, column)">
                <mat-icon>lock</mat-icon> Make it Private
              </a>
            </mat-menu>
          </span>
        </mat-list-item>
        <mat-divider *ngIf="!last" mat-inset></mat-divider>
      </ng-template>
    </mat-list>
  </ng-template>
  </mat-card>
</div>
