<td-layout-manage-list opened="true" mode="side">
  <mat-toolbar td-sidenav-content>Jobs</mat-toolbar>
  <div td-sidenav-content>
    <mat-nav-list td-sidenav-content>
      <ng-template let-item let-last="last" ngFor [ngForOf]="navMenu">
        <a mat-list-item [routerLink]="[item.route]">
          <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
          {{item.title}}
        </a>
      </ng-template>
    </mat-nav-list>
  </div>

  <router-outlet></router-outlet>

</td-layout-manage-list>

<a mat-fab color="accent" class="mat-fab-bottom-right" routerLink="config/create">
  <mat-icon>add</mat-icon>
</a>
