<ng-template tdLoading="user.login" tdLoadingStrategy="overlay">
  <div class="sign-in-up-container">
    <form [formGroup]="signUpFormControl">
      <div class="emailDiv input-group">
        <mat-form-field class="email">
          <input matInput placeholder="Email" [formControl]="emailFormControl" required="true" #emailSignIn>
          <mat-error *ngIf="emailFormControl.hasError('pattern') || emailFormControl.hasError('email')">
            not valid
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="passwordDiv input-group">
        <mat-form-field class="password">
          <input matInput type="password" placeholder="Password" required="true" [formControl]="passwordFormControl" #passswordSignIn>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="signInButton">
        <button class="sign__button" mat-raised-button [disabled]="!signUpFormControl.valid" (click)="signInUser(emailSignIn.value, passswordSignIn.value)">Login</button>
      </div>
    </form>
    <div class="login-link-container">
      <a class="login-link text-danger" routerLink="/user/reset_password">forset password</a>
    </div>
  </div>
</ng-template>