<ng-template tdLoading="user.register" tdLoadingStrategy="overlay">
  <div class="sign-in-up-container">
    <form [formGroup]="signUpFormControl">
      <div class="emailDiv input-group">
        <mat-form-field class="email">
          <input matInput placeholder="Email" [formControl]="emailFormControl" required="true" #emailSignUp>
          <mat-error *ngIf="emailFormControl.hasError('pattern') || emailFormControl.hasError('email')">
            not valid email
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="usernameDiv input-group">
        <mat-form-field class="username">
          <input matInput placeholder="Username" required="true" [formControl]="usernameFormControl" #usernameSignUp>
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="passwordDiv input-group">
        <mat-form-field class="password">
          <input matInput type="password" placeholder="Password" required="true" [formControl]="passwordFormControl" #passswordSignUp>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="signUpButton">
        <button class="sign__button" mat-raised-button [disabled]="!signUpFormControl.valid" (click)="signUpUser(emailSignUp.value, usernameSignUp.value, passswordSignUp.value)">Register</button>
      </div>
    </form>
  </div>
</ng-template>
