<div class="user-register-container">
     <div class="form-header"> 注册 </div> 

    <form class="form-horizontal" role="form">
          <!-- <div *ngFor="let field of fields" class="form-group">   -->
            <!-- <form-control [form]="form" [field]="field"></form-control> -->
        <!-- </div> -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-success">保存</button>
            </div>
        </div>
    </form>
</div>