<div class="navbar navbar-fixed-top main-nav">
  <div class="container">
    <p-growl [(value)]="msgs"></p-growl>
      <div class="navbar-header">
        <button #button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse" (click)="toggle(button)">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar">aa</span>
          <span class="icon-bar">bb</span>
          <span class="icon-bar">cc</span>
        </button>
            <!-- <a class="navbar-brand navbar-brand-my">EEBook</a> -->
      </div>
      <div class="collapse navbar-collapse navbar-responsive-collapse" aria-expanded="false">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#">EEBook</a>
          </li>
        </ul>
        <ul *ngIf="!currentUser?.userName" class="nav navbar-nav navbar-right">
          <li routerLinkActive="active">
            <a routerLink="login" i18n="login|Login on the home page@@login">login</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="register" i18n="register|Register on the home page@@register">register</a>
          </li>
        </ul>
        <ul *ngIf="currentUser?.userName" class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="/bookstore" class="dropdown-toggle" data-toggle="dropdown">
              Books
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="bookstore" i18n="bookstore|bookstore@@bookstore">Bookstore</a></li>
              <li><a href="/job/config/list" i18n="job|job@@job">Job</a></li>
              <li><a href="/job/history/list" i18n="job-history|job-history@@job-history">Job History</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/people/{{currentUser?.userName}}" class="dropdown-toggle" data-toggle="dropdown">
              {{currentUser?.userName}}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/people/{{currentUser?.userName}}" i18n="profile|profile@profile">Profile</a></li>
              <li class="divider"></li>
              <li><a routerLink="settings" i18n="settings|Settings on the home page@@settings">Settings</a></li>
              <li><a href='javascript:void(0);' (click)='doLogout()' i18n="logout|Logout of the site@@logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</div>

<!-- 主体内容区域 -->
<div class="container main-container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container-lg px-3" role="contentinfo">
  <div class="position-relative d-flex flex-justify-between py-6 mt-6 f6 text-gray border-top border-gray-light">
    <ul class="list-style-none d-flex flex-wrap">
      <li class="mr-3">
        © 2017
        <span>knarfeh</span>
      </li>
      <li class="mr-3"><a href="#" >Contact</a></li>
      <li class="mr-3"><a href="#" >About</a></li>
      <li class="mr-3"><a href="#" >Blog</a></li>
      <li class="mr-3"><a (click)="changeLang('zh')">zh</a></li>
      <li class="mr-3"><a (click)="changeLang('en-US')">en-US</a></li>
    </ul>
  </div>
</div>