$log-hover-background-color: #465155;
$log-context-background-color: #121B1B;


.lqbw-log-container {
  position: relative;

  .clear-button {
    position: absolute;
    bottom: 15px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: rgba(74, 85, 90, .95);
    // color: $button-primary-text-color;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;

    // &:hover {
    //   color: $status-color-in-process;
    // }
  }
}

.lqbw-log-list, .lqbw-log-list-placeholder {
  font-family: "Monaco", "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 13px;
  color: #e1e6e6;
  background-color: #263238;
  max-height: 600px;
  min-height: 400px;
  overflow: auto;
  > li {
    list-style: none;
    line-height: 20px;
    padding: 4px 8px;
    &:hover {
      background-color: $log-hover-background-color;
    }
    > span {
      margin-right: 4px;
    }
  }
  .lqbw-log-item .log-message {
    white-space: pre-wrap;
    word-break: break-word;
    // &.log-error {
    //   color: $status-color-error;
    // }
  }
}
