<mat-toolbar>
  <button mat-icon-button td-menu-button tdLayoutManageListToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Job History Detail</span>
</mat-toolbar>

<mat-card class="push-botton-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <td-expansion-panel label="Basic information {{jobDetail.config_name}}'s job" expand="true">
    <div class="mat-padding">
      <div class="static-field">
        <label>Started At</label>
        <div>
          <span>{{jobDetail.started_at}}</span>
        </div>
      </div>

      <div class="static-field">
        <label>Ended At</label>
        <div>
          <span>{{jobDetail.ended_at}}</span>
        </div>
      </div>

      <div class="static-field">
        <label>Image</label>
        <div>
          <span>https://hub.docker.com/r/{{jobDetail.image_name}}</span>
        </div>
      </div>

      <div class="static-field">
        <label>Cost</label>
        <div>
          <span>TODO</span>
        </div>
      </div>

    </div>
  </td-expansion-panel>
</mat-card>

<mat-card class="push-botton-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <mat-tab-group>
    <mat-tab label="Logs">
      <ng-template tdLoading="job.logs">
        <div class="lqbw-log-container" id="content">
          <ul class="lqbw-log-list">
            <li class="lqbw-log-item" *ngFor="let item of logs">
              <!-- <span>{{item.timestamp}}</span> -->
              <span class="log-message">{{item.log}}</span>
            </li>
          </ul>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>
