.emailDiv {
  padding: 0.5em;
}

.captchaDiv {
  padding: 0.5em;
}

form {
  display: inline-block;
  text-align: center;
}

.send {
  &__button {
    border-radius: 20px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 50%;
    color: #c15c3c;
  }
}

.resetSendCodeContainer{
  margin: 60px;
  padding: 16px 8px 2px 8px;
  overflow: auto;
}

.inline-elements-container {
  padding: 10px 0px 0px 0px;
}
