<ng-template tdLoading="reset.password.send.code" tdLoadingStrategy="overlay">
  <div class="resetSendCodeContainer">
    <form [formGroup]="resetSendCodeFormControl">
      <div class="emailDiv input-group">
        <mat-form-field class="email">
          <input matInput placeholder="Email" [formControl]="emailFormControl" required="true" #emailSendCode>
          <mat-error *ngIf="emailFormControl.hasError('pattern') || emailFormControl.hasError('email')">
            not valid
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="captchaDiv input-group">
        <mat-form-field class="captcha">
          <input matInput placeholder="Captcha" [formControl]="captchaFormControl" required="true" #captchaCode>
        </mat-form-field>
        <div class="inline-elements-container">
          <app-lqbw-captcha-img></app-lqbw-captcha-img>
        </div>
      </div>
      <div class="sendCodeButton">
        <button class="send__button" mat-raised-button [disabled]="!resetSendCodeFormControl.valid" (click)="sendVerifyCode(emailSendCode.value, captchaCode.value)">Send</button>
      </div>
    </form>
  </div>
</ng-template>
