<div class="singInDiv">
  <form [formGroup]="signUpFormControl">
    <div class="titleDiv"><b class="singInTitle">{{ login }}</b></div>
      <div class="emailDiv input-group">
        <mat-form-field class="email">
          <input matInput placeholder="Email" [formControl]="emailFormControl" required="true" #emailSignIn>
            <mat-error *ngIf="emailFormControl.hasError('pattern') || emailFormControl.hasError('email')">
              Not valid
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              required
            </mat-error>
        </mat-form-field>
      </div>
    <div class="passDiv input-group">
      <mat-form-field class="password">
        <input matInput type="password" placeholder="password" required="true" [formControl]="passwordFormControl" #passswordSignIn>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            required
          </mat-error>
      </mat-form-field>
    </div>
    <div class="singnInButton">
      <button class="btn btn-block signIn" mat-raised-button [disabled]="!signUpFormControl.valid" (click)="signInUser(emailSignIn.value, passswordSignIn.value)">Login</button>
    </div>
  </form>
</div>