// LoginMaterialDesingDialog

// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
// }

// html {
//     font-weight: 300;
//     font-size: 20px;
//     text-rendering: optimizeLegibility;
// }

// .mat-dialog-container {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
//     font-weight: 300;
//     font-size: 20px;
//     text-rendering: optimizeLegibility;
// }


// .singInDiv {
//     width: 25.4em;
//     background-color: #446973;
// }

// .titleDiv {
//     background-color: #c15c3c;
//     color: white;
//     width: 25.4em;
// }

// .singInTitle {
//     margin-left: 27%;
//     font-size: -webkit-xxx-large;
// }

// .emailDiv {
//     padding: 1em;
// }

// .email {
//     width: 23em;
//     color: white;
// }

// .passDiv {
//     padding: 1em;
// }

// .password {
//     width: 23em;
//     color: white;
// }

// .rememberMe {
//     margin-left: 1em;
//     color: white;
// }

// .regainPass {
//     padding: 1em;
// }

// .regainPassword {
//     color: #c15c3c;
// }

// .singnInButton {
//     padding: 1em;
// }

// .signIn {
//     font-size: 120%;
//     color: white;
//     background-color: #c15c3c;
//     border: none;
//     border-radius: 10px 10px 10px 10px;
// }* {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
// }

// html {
//     font-weight: 300;
//     font-size: 20px;
//     text-rendering: optimizeLegibility;
// }

// .mat-dialog-container {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
//     font-weight: 300;
//     font-size: 20px;
//     text-rendering: optimizeLegibility;
// }


// .singInDiv {
//     width: 25.4em;
//     background-color: #446973;
// }

// .titleDiv {
//     background-color: #c15c3c;
//     color: white;
//     width: 25.4em;
// }

// .singInTitle {
//     margin-left: 27%;
//     font-size: -webkit-xxx-large;
// }

// .emailDiv {
//     padding: 1em;
// }

// .email {
//     width: 23em;
//     color: white;
// }

// .passDiv {
//     padding: 1em;
// }

// .password {
//     width: 23em;
//     color: white;
// }

// .rememberMe {
//     margin-left: 1em;
//     color: white;
// }

// .regainPass {
//     padding: 1em;
// }

// .regainPassword {
//     color: #c15c3c;
// }

// .singnInButton {
//     padding: 1em;
// }

// .signIn {
//     font-size: 120%;
//     color: white;
//     background-color: #c15c3c;
//     border: none;
//     border-radius: 10px 10px 10px 10px;
// }

.emailDiv {
  padding: 0.5em;
}

.passwordDiv {
  padding: 0.5em;
}

.usernameDiv {
  padding: 0.5em;
}

form {
  display: inline-block;
  text-align: center;
}

.sign {
  &__button {
    border-radius: 20px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 50%;
    color: #c15c3c;
  }
}

.sign-in-up-container {
  padding: 16px 8px 2px 8px;
  overflow: auto;
}