#header {
  border-radius: 0px;
}

#footer {
  margin: 30px auto;
}

/*
 * Avoid using .hidden since Boostrap defines it with !important.
 * */
.template, .hidden, .nosee {
  display: none;
}

.highlight {
  color: #FF00FF;
}

.clear {
  clear: both;
}

a.tip {
  border-bottom: 1px dashed;
  color: inherit;
}

a.tip:hover {
  text-decoration: none;
  cursor: pointer;
}

.alert-link {
  font-style: italic;
}

.center-text {
  text-align: center;
}
