<p>
  {{ jobConfig.config_name }}, {{ jobConfig.updated_at }} , {{ jobConfig.created_at }}, {{ jobConfig.schedule_rule}}
</p>

<tbody>
  <tr *ngFor="let job of asyncJobs | async | paginate: {id: 'server', itemsPerPage: 5, currentPage: p, totalItems: total }">
    <td>
      {{ job.config_name }}, {{ job.status }}, {{ job.created_at }}
    </td>
  </tr> 
</tbody>
  
<div class="has-text-centered">
  <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>