<mat-toolbar>
    <button mat-icon-button td-menu-button tdLayoutManageListToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Job Config Detail</span>
  </mat-toolbar>

  <mat-card class="push-botton-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <td-expansion-panel label="Basic information of {{jobConfig.config_name}}" expand="false">
      <div class="mat-padding">
        <div class="static-field">
          <label>Name: </label>
          <div>
            <span>{{jobConfig.config_name}}</span>
          </div>
        </div>
        <div class="static-field">
          <label>Image: </label>
          <div>
            <span>{{jobConfig.image_name}}:{{jobConfig.image_tag}}</span>
          </div>
        </div>
        <div class="static-field">
          <label>Created at: </label>
          <div>
            <span>{{jobConfig.created_at}}</span>
          </div>
        </div>

      </div>
    </td-expansion-panel>
  </mat-card>

  <mat-card class="push-botton-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <mat-tab-group>
      <mat-tab label="Jobs">
        <ng-template tdLoading="jobConfig.jobs">
          <div class="lqbw-log-container" id="content">
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Env Virables">
        <div class="lqbw-log-container" id="content">
          <table td-data-table>
            <thead>
              <tr td-data-table-column-row>
                <th td-data-table-column
                    *ngFor="let column of columns"
                    [numeric]="column.numeric">
                  {{column.label}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr td-data-table-row *ngFor="let row of envvars">
                <td td-data-table-cell *ngFor="let column of columns" [numeric]="column.numeric">
                  {{column.format ? column.format(row[column.name]) : row[column.name]}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
