$interval: 20px;
$remark-color: #a1a1a1;
$highlight-color: #24a7e3;

.mat-padding {
  margin-top: $interval;
  background-color: #fff;
  padding: $interval $interval / 2;

  ::ng-deep {
    .mat-tab-body {
      padding-top: 32px;
    }

    .static-field {
      display: flex;
      padding-bottom: 18px;

      .link-text, {
        color: $highlight-color;
        cursor: pointer;
      }

      > label, > div {
        line-height: 32px;
        display: flex;
        align-items: center;
      }

      > label {
        font-weight: normal;
        flex-basis: 180px;
        justify-content: flex-end;
        align-items: flex-start;
        padding-right: 16px;
        color: #a1a1a1;
      }

      > div {
        flex: 1;

        > span {
          word-break: break-all;
        }

        button + button {
          margin-left: 20px;
        }
      }
    }

    .form-field-label {
      width: 180px;
      color: $remark-color;
    }
  }
}


