<div class="search_bar">
  <!-- <mat-input-container color="#ff0000">
    <input matInput
      placeholder="Search ebooks"
      [value]="query"
      type="text"
      maxlength="1200"
      name="searchstring"
      (keyup)="search.emit($event.target.value)"
    />
  </mat-input-container> -->
  <!-- <tag-input theme='dark'></tag-input> -->
  <mat-form-field class="has-chip-list">
      <mat-chip-list [tabIndex]="tabIndex" #chipList1 required>
        <mat-chip  *ngFor="let person of people" [color]="color" [selectable]="selectable"
                 [removable]="removable" (remove)="remove(person)">
          {{person.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          [value]="query"
          [matChipInputFor]="chipList1"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="false"
          (matChipInputTokenEnd)="add($event)" />
      </mat-chip-list>
    </mat-form-field>
  <mat-spinner [class.show]="searching" [diameter]="30" [strokeWidth]="3"></mat-spinner>
</div>
