<ng-template tdLoading="reset.password" tdLoadingStrategy="overlay">
  <div class="resetPasswordContainer">
    <form>
      <div class="newPasswordDiv input-group">
        <mat-form-field class="password">
          <input matInput type="password" placeholder="New Password" [formControl]="passwordFormControl" required="true" #password>
        </mat-form-field>
      </div>
      <div class="newPasswordConfirmDiv input-group">
        <mat-form-field class="password">
          <input matInput type="password" placeholder="Confirm New Password" [formControl]="resetPasswordFormControl" required="true" #confirmPassword>
        </mat-form-field>
      </div>
      <div class="verificationCodeDiv input-group">
        <mat-form-field class="verificationCode">
          <input matInput placeholder="Verification Code" [formControl]="verificationCodeFormControl" required="true" #verificationCode>
        </mat-form-field>
      </div>
      <div class="resetPasswordButton">
        <button class="send__button" mat-raised-button [disabled]="!resetPasswordFormControlGroup.valid" (click)="submit(password.value, verificationCode.value)">Send</button>
      </div>
    </form>
  </div>
</ng-template>
