<ng-template tdLoading="reset.password" tdLoadingStrategy="overlay">
  <div class="resetPasswordContainer">
    <form [formGroup]="resetPasswordFormControl">
      <div class="emailDiv input-group">
        <mat-form-field class="email">
          <input matInput placeholder="Email" [formControl]="emailFormControl" required="true" #emailSignIn>
          <mat-error *ngIf="emailFormControl.hasError('pattern') || emailFormControl.hasError('email')">
            not valid
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="signInButton">
        <button class="sign__button" mat-raised-button [disabled]="!resetPasswordFormControl.valid">Login</button>
      </div>
    </form>
  </div>
</ng-template>