<td-layout-manage-list opened="true" mode="side">
  <md-toolbar td-sidenav-content>Settings</md-toolbar>
  <div td-sidenav-content>
    <md-nav-list td-sidenav-content (click)="!media.query('gt-sm') && manageList.close()">
      <ng-template let-item let-last="last" ngFor [ngForOf]="navMenu">
        <a md-list-item [routerLink]="[item.route]">
          <md-icon md-list-icon>{{item.icon}}</md-icon>
          {{item.title}}
        </a>
      </ng-template>
    </md-nav-list>
  </div>
  <md-toolbar>
    <button md-icon-button td-menu-button tdLayoutManageListToggle>
      <md-icon>menu</md-icon>
    </button>
    Content Title
  </md-toolbar>
  Content goes here
</td-layout-manage-list>