<!-- <td-layout-manage-list opened="true" mode="side">
  <mat-toolbar td-sidenav-content>Settings</mat-toolbar>
  <div td-sidenav-content>
    <mat-nav-list td-sidenav-content (click)="!media.query('gt-sm') && manageList.close()">
      <ng-template let-item let-last="last" ngFor [ngForOf]="navMenu">
        <a mat-list-item [routerLink]="[item.route]">
          <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
          {{item.title}}
        </a>
      </ng-template>
    </mat-nav-list>
  </div>
  <mat-toolbar>
    <button mat-icon-button td-menu-button tdLayoutManageListToggle>
      <mat-icon>menu</mat-icon>
    </button>
    Content Title
  </mat-toolbar>
  Content goes here
</td-layout-manage-list> -->

settings
