{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} About {% endblock %}

{% block page_content %}
<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="page-header">
  <div>
<h2>关于</h2>

<p>我相信大家在浏览网页的时候都见过这样的页面：  </p>

<p><img src="http://7xi5vu.com1.z0.glb.clouddn.com/zhihu404.png" alt="zhihu404" /></p>

<p><img src="http://7xi5vu.com1.z0.glb.clouddn.com/jianshu404.png" alt="jianshu404" /></p>

<p><img src="http://7xi5vu.com1.z0.glb.clouddn.com/medium404.png" alt="medium404" /></p>

<p><img src="http://7xi5vu.com1.z0.glb.clouddn.com/kinds404.png" alt="kind404" /></p>

<p>实际上，我们对网络上的信息是没有安全感的，某个帖子，某篇文章，可能稍稍触及某个敏感问题就被管理员删了，当然也有可能被作者自己删了。然后，你就找不到了，怎么永久保存网络上的优质内容呢？有一个这个的方案，用印象笔记的功能可以解决</p>

<p>看到某个网页，想要保存下去，截取就行了  </p>

<p><img src="http://7xi5vu.com1.z0.glb.clouddn.com/save_page_to_evernote.png" alt="save<em>to</em>evernote" /></p>

<p>或者用 Win10 的斯巴达浏览器，可以直接在网页上做笔记，目前没有 Win10 的机器，只是借朋友的玩过，我想这个思路和剪藏功能的关系就跟 OneNote 和 Evernote 的关系一样。</p>

<p>但这种方式还是有缺陷的，比如，我想要得到zhihu或quora下面某个问题下获得赞同数超过10的答案，难道要我手动一个一个选择吗？</p>

<p>我想要得到新浪博客某个博主的所有文章，几百篇文章，难道我要一个链接一个链接地打开截取吗？</p>

<p>怎么解决这个问题，怎么获得最好的阅读体验，最好的阅读体验又是什么？我觉得最好的阅读体验仍然是书。相比于电子书，纸质书真的太重，太不环保了。如果能将这些优质内容用电子书保存下来，可以随时随地远离网络的干扰，可以让我们进行离线，深度的阅读，是不是就很好呢?</p>

<p>怎么做？我的想法是这样的，把这些优质内容做成电子书，让你可以随时地离线阅读，像这样：</p>

<p>在 kindle 上阅读：  </p>

<p>在手机上阅读：  </p>

<p>在电脑上阅读：</p>

<p>怎么做到的？我的做法是，将爬虫技术和电子书制作软件结合起来，做一个软件，或者说，一个框架，将对一个网站的支持作为一个插件集成到软件中，有需求，需求很强烈，可以往软件中添加对响应网站支持。    这就是 EE-Book 做的事情。</p>

<p>看看效果吧：  </p>

<p>我写了一个比较鸡肋的客户端（目前精力转移到 Web 端）：</p>

<p>这个是图形界面的主界面图，目前还算比较简陋，实际上可以加的功能有很多，比如点击某本书在右边展示封面</p>

<p>我还写了一个简单的epub阅读器，很简陋，也还有很多工作可以做</p>

<p>当然，你也可以用系统默认的epub阅读器打开，mac系统下有ibooks</p>

<p>当你需要下载，制作电子书，可以通过下载的界面进行，选择网站类型，把网址复制到文本框中，点击下载就可以了</p>

<p>接下来就可以制作电子书了</p>

<p>大概一两分钟，就可以制作成一本电子书</p>

<p>制作完成之后，就可以打开这本电子书进行阅读了</p>

<p>总的来说，图形界面还计较简陋，都是用的后台的接口，现在回头想想，我觉得图形界面的功能比较鸡肋，命令行的界面就要简洁很多</p>

<p>你可以用—help选项查看帮助信息</p>

<p>比如你看到一个简书作者，你想要把他的所有文章做成电子书，你只需要复制一下他的主页链接</p>

<p>粘贴到命令行中，敲下回车键（这里的—debug）可以输出一些debug信息</p>

<p>一两分钟，就可以得到你需要的电子书了</p>

<p>可以看到电子书已经生成了</p>

<p>当你想看看ee-book 对csdn是否支持，可以通过info参数查看</p>

<p>如果你输入的是一个不支持的网站会怎么样呢？EE-Book会给出提示信息</p>

<p>命令行的功能，细节部分会多一些，实现的部分就介绍到这了，最后谈谈这个项目的总结和展望吧</p>

<p>在我写客户端的时候，我在v2ex.com上发了一个帖子，进行了一些讨论，现在来看看这些反馈吧</p>

<p>总结一下：</p>

<p>EE-Book是一个有用的，对这世界有益的工具，它是为喜欢阅读的人准备的</p>

<p>EE-Book中还有一些问题需要解决，比如版权问题，比如图形界面，还有很多工作可以做，有很多需要改进的地方，易用性也不够强。但这个项目是一个很好的idea，它会继续发展，是一个值得参与的项目</p>

<p>前面的介绍中也提到了一些问题，都需要解决，不管怎么说，这个开源项目我会继续维护下去，因为我觉得这是一个很有意义、也很有挑战的事情</p>
<p></p>
  </div>

</div>

<div class="col-sm-2"></div>
{% endblock %}