{% extends "bootstrap/base.html" %}

{% block title %} EE-Book {% endblock %}

{% block head %}
<link rel="icon" type="image/x-ico" href="{{ url_for('static', filename='img/favicon.ico') }}">
{{ super() }}

{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="{{ url_for('main.index') }}">EE-Book</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">首页</a>
        </li>
        <li>
          <a href="{{ url_for('main.store') }}">电子书仓库</a>
        </li>
        <li>
          <a href="{{ url_for('main.about') }}">关于</a>
        </li>
        <li>
          <a href="{{ url_for('main.faq') }}">FAQ</a>
        </li>
        <li>
          <a href="{{ url_for('main.comments') }}">留言板</a>
        </li>
      </ul>
      {% if current_user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ url_for('auth.logout') }}">退出登录</a>
        </li>
      </ul>
      {% else %}
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <a class="btn btn-default" href="{{ url_for('auth.login') }}">登录</a>
        </div>
        <div class="form-group">
          <a class="btn btn-primary" href="{{ url_for('auth.register') }}">注册</a>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  {% block page_content %}{% endblock %}
</div>

<hr>
<div id="footer" class="container">
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <p class="copyright text-muted" style="text-align: center;">Copyright &copy; <a href="http://knarfeh.com">knarfeh</a> 2016 | <a href="mailto:knarfeh@outlook.com">邮件联系</a> | <a href="https://github.com/knarfeh/EE-Book">贡献代码</a>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75002639-2', 'auto');
  ga('send', 'pageview');
</script>
{% endblock %}
