{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Comments {% endblock %}

{% block page_content %}
<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="page-header">
    <h3>留言板</h3>
  </div>
  <p class="lead">如果对本站有任何的疑问，可以先查阅<a href="#">常见问题</a>，有任何其他的疑问或建议，可以通过邮箱联系我，我的邮箱是：knarfeh{at}outlook.com，或者直接在下面留言，任何有建设性的建议或意见都是欢迎的，期待和大家共同进步，谢谢大家。</p>
  <!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="Comments" data-title="Comments" data-url="http://ee-book.org/comments"></div>
  <!-- 多说评论框 end -->
</div>

<div class="col-sm-2"></div>
{% endblock %}


{% block scripts %}
{{ super() }}
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"ee-book"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>
<!-- 多说公共JS代码 end -->
{% endblock %}