{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} About {% endblock %}

{% block page_content %}
<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="page-header">
    <h2>FAQ</h2>
  </div>
  <div class="lead">
    <ul>
      <li>
        ee-book 的含义?
        <br/>
        这个网站可以将特定网站的内容制作成 EPub 格式的电子书，有心的同学可能已经猜到，ee-book 指的是 two e book -> to e-book, ee-book.org 是基于 <a href="http://github.com/knarfeh/EE-Book">EE-Book</a> 的，<a href="http://github.com/knarfeh/EE-Book">EE-Book</a> 的宗旨在于将特定网页上的内容爬取下来，制作成电子书（目前只支持 EPub 格式，今后会添加对 Mobi 格式的支持），做到永久备份，方便我们离线查看。
      </li>
      <br/>
      <li>
        怎么使用 ee-book.org 的功能?
        <br/>
        首先，注册账号，然后只需要按照首页提示的「支持的网站类型」的格式，将网址输入，点击「开始制作」，等一小段时间（时间长短根据电子书大小，任务队列长度决定），EPub 格式的电子书就会发送到您注册的邮箱中。目前电子书生成失败的概率还不算低，由于目前还没有比较完善的日志系统，如果您提交任务后长时间没有收到电子书，可以通过邮箱跟我联系，也可以自行运行 <a href="https://github.com/knarfeh/EE-Book">EE-Book</a> 的代码。如有问题可以提交 Issues
      </li>
      <br/>
      <li>
        为什么要做成 Web 版，不做 Mac 版或 Linux 版？
        <br/>
        我本身就是 EE-Book 的用户，在我的使用过程中，我发现爬取网页的文字信息并不占多少带宽，占大部头的是图片，EE-Book 维护了一个图片池，如果这个图片已经下载过了，EE-Book 会自动做判断，跳过对这张图片的下载，这样一来速度就会快很多，更重要的是，给网站服务器减小了压力，但如果做成客户端，有多少用户提交，就有多少次下载制作的流程。做成 Web 版，就可以分享这些图片内容，不必重复下载，甚至可以将 EE-Book 服务器上制作的电子书直接供用户下载，大大减小对网站服务器的压力，同时，也方便了同用户的交流以及用户之间的交流。
      </li>
      <br/>
      <li>
        下一步会支持哪些类型网站？
        <br/>
        <ul>
          <li>
            RSS
          </li>
          <li>
            BYVoid博客
          </li>
          <li>
            <a href="(http://www.aaronsw.com/">Aaron Swartz的博客</a>
          </li>
          <li>
            <a href="http://macshuo.com/">macshuo</a>
          </li>
          <li>
            quora
          </li>
          <li>
            豆瓣日记
          </li>
          <li>
            medium
          </li>
          <li>
            stackoverflow
          </li>
          <li>
            gank.io
          </li>
          <li>
            ...
          </li>

          正在考虑做一个提名、投票、排名的功能:) 形式还没有想好，有想法的朋友欢迎留言:)
        </ul>
      </li>
      <br/>
    </ul>
  </div>

</div>

<div class="col-sm-2"></div>
{% endblock %}
