{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} About {% endblock %}

{% block page_content %}
<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="page-header">
    <h3>FAQ</h3>
  </div>
  <div class="lead">
    <ul>
      <li>
        ee-book 的含义?
        <br/>
        这个网站可以将特定网站的内容制作成 EPub 格式的电子书，有心的同学可能已经猜到，ee-book 指的是 two e book -> to e-book, ee-book.org 是基于 <a href="http://github.com/knarfeh/EE-Book">EE-Book</a> 的，<a href="http://github.com/knarfeh/EE-Book">EE-Book</a> 的宗旨在于将特定网页上的内容爬取下来，制作成电子书（目前只支持 EPub 格式，今后会添加对 Mobi 格式的支持），做到永久备份，方便我们离线查看。
      </li>
      <br/>
      <li>
        怎么使用 ee-book.org 的功能?
        <br/>
        首先，注册账号，然后只需要按照首页提示的「支持的网站类型」的格式，将网址输入，点击「开始制作」，等一小段时间（时间长短根据电子书大小，任务队列长度决定），EPub 格式的电子书就会发送到您注册的邮箱中。目前电子书生成失败的概率还不算低，由于目前还没有比较完善的日志系统，如果您提交任务后长时间没有收到电子书，可以通过邮箱跟我联系，也可以自行运行 <a href="https://github.com/knarfeh/EE-Book">EE-Book</a> 的代码。如有问题可以提交 Issues
      </li>
      <br/>
      <li>
        下一步会支持哪些类型网站？
        <br/>
        <ul>
          <li>
            RSS
          </li>
          <li>
            BYVoid博客
          </li>
          <li>
            <a href="(http://www.aaronsw.com/">Aaron Swartz的博客</a>
          </li>
          <li>
            <a href="http://macshuo.com/">macshuo</a>
          </li>
          <li>
            quora
          </li>
          <li>
            豆瓣日记
          </li>
          <li>
            medium
          </li>
          <li>
            stackoverflow
          </li>
          <li>
            gank.io
          </li>
          <li>
            ...
          </li>
        </ul>
      </li>
      <br/>
    </ul>
  </div>

</div>

<div class="col-sm-2"></div>
{% endblock %}
